@import '../../../styles/mixins';
@import '../../../styles/variables';

.headline {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.75rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .title {
      font-size: 1.75rem;
      font-weight: 600;

      @include bp(xl) {
        font-size: 2.375rem;
      }
    }
    .subtitle {
      font-size: 1rem;
      line-height: 1.625rem;

      @include bp(xl) {
        font-size: 1.375rem;
        line-height: 160%;
      }
    }
  }

  .button {
    width: 100%;
    display: flex;
    align-self: flex-end;
  }
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  @include bp(sl) {
    flex-direction: row;
    column-gap: 1.875rem;
    flex-wrap: wrap;
  }

  .card {
    background-color: $background-secondary;
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    gap: 0.9375rem;

    @include bp(sl) {
      width: calc(50% - 3.4375rem);
    }

    @include bp(xl) {
      width: auto;
      flex-direction: column;
      align-items: center;
    }

    .imageBox {
      position: relative;

      img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;

        @include bp(xl) {
          width: 7.5rem;
          height: 7.5rem;
        }
      }

      span {
        position: absolute;
        top: -0.4375rem;
        left: -0.5rem;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-light-gray;
        background-color: $background-primary;

        @include bp(xl) {
          top: 0;
          left: -2.5rem;
        }
      }
    }

    .additionalData {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      .userName {
        font-size: 1.375rem;
        font-weight: 600;
      }

      .totalSales {
        display: flex;
        align-items: center;
        gap: 0.9375rem;
        font-size: 1rem;
        font-family: $font-space-mono;

        .highlight {
          font-family: $font-primary;
          color: $color-light-gray;
        }
      }
    }
  }
}
