@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;

  .headline {
    color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .title {
      font-size: 1.75rem;
      font-weight: 700;

      @include bp(sl) {
        font-size: 2.375rem;
      }

      @include bp(xl) {
        font-size: 4.1875rem;
      }
    }
    .subtitle {
      font-size: 1rem;
      line-height: 1.625rem;

      @include bp(xl) {
        font-size: 1.375rem;
        line-height: 160%;
        font-weight: 300;
      }
    }
  }

  .cardsWrapper {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .mainImage {
        margin-bottom: 0.9375rem;
        max-height: 19.6875rem;
        max-width: 19.6875rem;

        @include bp(sl) {
          max-height: 20.625rem;
          max-width: 20.625rem;
        }

        .primaryImage {
          object-fit: cover;
          border-radius: 1.25rem;
          height: auto;
          width: 100%;
        }
      }

      .innerContainer {
        display: flex;
        gap: 0.9375rem;
        align-items: center;

        .imageBox {
          height: 5.9375rem;
          width: 5.9375rem;

          @include bp(m) {
            height: 6.25rem;
            width: 6.25rem;
          }

          .innerImage {
            height: 100%;
            width: auto;
            border-radius: 1.25rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
          }
        }
      }

      .cardContent {
        margin-top: 0.9375rem;
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;

        .title {
          font-size: 1.375rem;
          font-weight: 600;
        }

        .additionalData {
          display: flex;
          gap: 0.75rem;
          align-items: center;

          .icon {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
          }

          .name {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
