@import '../../../styles/mixins';
@import '../../../styles/variables';

.headline {
  color: $color-white;
  flex-direction: column;
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2.5rem;

  .title {
    font-size: 1.75rem;
    font-weight: 600;

    @include bp(xl) {
      font-size: 2.375rem;
    }
  }
  .subtitle {
    font-size: 1rem;
    line-height: 1.625rem;

    @include bp(xl) {
      font-size: 1.375rem;
      line-height: 160%;
    }
  }
}
