@import '../../../styles/mixins';
@import '../../../styles/variables';

.subscriberWidget {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  @include bp(sl) {
    background-color: $background-secondary;
    padding: 2.5rem 1.875rem;
    border-radius: 1.25rem;
    flex-direction: row;
  }

  @include bp(xl) {
    padding: 3.75rem;
  }

  .imageBox {
    max-width: 26.5625rem;
    @include bp(sl) {
      min-width: 19.375rem;
    }

    img {
      width: 100%;
      border-radius: 1.25rem;
      object-fit: cover;
      object-position: center;
      background-color: $background-primary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-block: auto;
  }

  .headLine {
    margin: 0;
  }
}
